{% extends "base.html" %}
{% block title %}Reservas{% endblock %}

{% block header %}LISTA DE RESERVAS{% endblock header %}

{% block formtitle %}Crear Reserva{% endblock formtitle %}
{% block formurl %}{% url 'crear_reserva' %}{% endblock formurl %}
{% block inputsubmit %}<input type="submit" value="Guardar">{% endblock inputsubmit %}

{% block tableheaders %}
    <tr>
        {% for header in headers %}
            <th scope="col">{{ header }}</th>
        {% endfor %}
        <th colspan='2'>Acciones</th>
    </tr>
{% endblock tableheaders %}

{% block tablerows %}
    {% for r in reservas %}
    <tr>
        <td>{{ r.clave }}</td>
        <td>{{ r.valor }}</a></td>
        <td>
            <form action="{% url 'eliminar_reserva' r.id %}" method='POST'>
                {% csrf_token %}
                <button class="btn btn-danger" onclick="return confirm('¿Deseas eliminar?')">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </td>
        <td>
            <a href="{% url 'editar_reserva' id=r.id %}" class="btn btn-warning">
                <i class="fa-solid fa-edit"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock tablerows %}
