{% extends "base.html" %}
{% block title %}Configuraciones{% endblock %}

{% block header %}LISTA DE CONFIGURACIONES{% endblock header %}

{% block formtitle %}Crear Configuración{% endblock formtitle %}
{% block formurl %}{% url 'crear_config' %}{% endblock formurl %}
{% block inputsubmit %}<input type="submit" value="Guardar">{% endblock inputsubmit %}

{% block tableheaders %}
    <tr>
        {% for header in headers %}
            <th scope="col">{{ header }}</th>
        {% endfor %}
        <th colspan='2'>Acciones</th>
    </tr>
{% endblock tableheaders %}

{% block tablerows %}
    {% for cn in config %}
    <tr>
        <td>{{ cn.clave }}</td>
        <td>{{ cn.valor }}</a></td>
        <td>
            <form action="{% url 'eliminar_config' cn.id %}" method='POST'>
                {% csrf_token %}
                <button class="btn btn-danger" onclick="return confirm('¿Deseas eliminar el usuario?')">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </td>
        <td>
            <a href="{% url 'editar_config' id=cn.id %}" class="btn btn-warning">
                <i class="fa-solid fa-edit"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock tablerows %}
