{% extends "base.html" %}
{% block title %}Listar Clientes{% endblock %}

{% block header %}LISTA DE CLIENTES{% endblock header %}


{% block formtitle %}Crear Cliente{% endblock formtitle %}
{% block formurl %}{% url 'crear_cliente'%}{% endblock formurl %}
{% block inputsubmit %}<input type="submit" value="Guardar">{% endblock inputsubmit %}


{% block tableheaders %}
    <tr>
        {% for header in headers %}
            <th scope="col">{{ header }}</th>
        {% endfor %}
        <th colspan='2'>Acciones</th>
    </tr>
{% endblock tableheaders %}

{% block tablerows %}
    {% for cl in clientes %}
    <tr>
        <td>{{ cl.nombre }}</td>
        <td>{{ cl.apellido }}</a></td>
        <td>{{ cl.direccion }}</a></td>
        <td>{{ cl.correo_electronico }}</td>
        <td>
            <form action="{% url 'eliminar_cliente' cl.id %}" method='POST'>
                {% csrf_token %}
                <button class="btn btn-danger" onclick="return confirm('¿Deseas eliminar?')">
                    <i class="fa-solid fa-trash"></i>
                </button>
            </form>
        </td>
        <td>
            <a href="{% url 'editar_cliente' id=cl.id %}" class="btn btn-warning">
                <i class="fa-solid fa-edit"></i>
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock tablerows %}
