{% extends "base.html" %}
{% block title %}Lista Permisos{% endblock %}
{% block header %}LISTA DE PERMISOS{% endblock %}
{% block lista_botones %}
<a href='{% url "crear_permiso" %}'> <button>Ir a Crear Permiso</button></a>
<a href='{% url "listar_roles" %}'> <button>Ir a Roles</button></a>
<a href='{% url "listar_rolpermisos" %}'> <button>Ir a Rol-Permiso</button></a>
{% endblock %}

{% block tableheaders %}
{{ permisos.nombre_permiso }}
  {% for header in headers %}
      <th scope="col">{{ header }}</th>
  {% endfor %}
{% endblock %}

{% block tablerows %}
  {% for per in permisos %}
    <tr>
        <td><a href="{% url 'ver_permiso' per.id %}"> {{per.nombre_permiso}}</a></td>
        <td>{{ per.descripcion }}</td>
    </tr>
    {% endfor %}
{% endblock %}