{% extends "table_base.html" %}
{% block title %}Lista Rol-Permiso{% endblock %}
{% block header %}LISTA DE PERMISOS DE CADA ROL{% endblock %}
{% block lista_botones %}
<a href='{% url "crear_rolpermiso" %}'><button>Ir a Crear Rol-Permiso</button></a>
<a href='{% url "listar_roles" %}'> <button>Ir a Roles</button></a>
<a href='{% url "listar_permisos" %}'> <button>Ir a Permisos</button></a>
{% endblock %}

{% block tableheaders %}
  {% for header in headers %}
      <th scope="col">{{ header }}</th>
  {% endfor %}
{% endblock %}

{% block tablerows %}
  {% for rp in rolpermisos %}
    <tr>
        <td><a href="{% url 'ver_rol' rp.id %}">{{ rp.rol }}</a></td>
        <td>{{ rp.permiso }}</td>
    </tr>
    {% endfor %}
{% endblock %}

{% block extrainfo %}
  <h3>Total de Roles-permisos</h3>
  <ul>
    {% regroup rolpermisos by rol as rol_groups %}
    {% for group in rol_groups %}
    <ul><strong>{{ group.grouper }}</strong> ({{ group.list|length }} permisos)</ul>
    {% endfor %}
  </ul>
{% endblock %}