{% extends "base.html" %}
{% block header %}LISTA DE PERMISOS DE CADA ROL{% endblock %}
{% block lista_botones %}
<a href='{% url "crear_rolpermiso" %}'><button>Ir a Crear Rol-Permiso</button></a>
<a href='{% url "listar_roles" %}'> <button>Ir a Roles</button></a>
<a href='{% url "listar_permisos" %}'> <button>Ir a Permisos</button></a>
{% endblock %}
{% block content %}
<div style="display: flex;flex-wrap: wrap;">
  {% for rol, permisos in roles_permisos_dict.items %}
  <div style="flex: 1 0 10%;">
  <strong>{{ rol }}</strong>
    {% for permiso_info in permisos %}
    <ul>
      <a href="{% url 'ver_rolpermiso' permiso_info.id %}">
        {{ permiso_info.permiso }}
      </a>
    </ul>
    {% endfor %}
  </div>
  {% endfor %}
</div>
<a href='{% url "index" %}'><button>Home</button></a>   
{% endblock %}