{% extends "base.html" %}
{% block title %}Lista Permisos{% endblock %}
{% block header %}LISTA DE PERMISOS{% endblock %}
{% block lista_botones %}
<a href='{% url "crear_permiso" %}'> <button>Ir a Crear Permiso</button></a>
<a href='{% url "listar_roles" %}'> <button>Ir a Roles</button></a>
<a href='{% url "listar_rolpermisos" %}'> <button>Ir a Rol-Permiso</button></a>
{% endblock %}
{% block content %}

  {% for per in permisos %}
  <ul><a href="{% url 'ver_permiso' per.id %}"> {{per.nombre_permiso}}</a></ul>
  {% endfor %}


<a href='{% url "index" %}'><button>Home</button></a>
{% endblock %}