{% extends "base.html" %}
{% block title %}Listar Habitaciones{% endblock %}

{% block header %}HABITACIONES{% endblock %}

{% block lista_botones %}
<a href='{% url "crear_habitacion" %}'><button>Ir a Crear Habitacion</button></a>
<a href='{% url "listar_tipo_habitaciones" %}'><button>Ir a Tipo de Habitacion</button></a>
{% endblock %}

{% block tableheaders %}
{{ habitaciones.numero_habitacion}}
  {% for header in headers %}
      <th scope="col">{{ header }}</th>
  {% endfor %}
{% endblock %}

{% block tablerows %}
{% for h in habitaciones %}
    <tr>
      <td><a href="{% url 'ver_habitacion' h.id %}">{{h.numero_habitacion}}</a></td> 
      <td>{{h.tipo_habitacion}}</td> 
      <td>{{h.capacidad_maxima}}</td> 
      <td>{{h.precio_por_noche}}</td> 
      <td>{% if h.disponible %} Disponible {% else %} No Disponible {% endif %}</td>  
    </tr>
    {% endfor %}
{% endblock %}
