{% extends "base.html" %}
{% block title %}Tipos de Habitaciones{% endblock %}
{% block header %}TIPOS DE HABITACIONES{% endblock %}
{% block lista_botones %}
<a href='{% url "crear_tipo_habitacion" %}'><button>Ir a Crear Tipo de Habitacion</button></a>
<a href='{% url "listar_habitaciones" %}'><button>Habitaciones</button></a>
{% endblock %}

{% block tableheaders %}
  {% for header in headers %}
      <th scope="col">{{ header }}</th>
  {% endfor %}
{% endblock %}

{% block tablerows %}
  {% for th in tipo_habitaciones %}
    <tr>
        <td><a href="{% url 'ver_tipo_habitacion' th.id %}"> {{th.tipo_habitacion}}</a></td>
        <td>{{ th.descripcion }}</td>
    </tr>
    {% endfor %}
{% endblock %}