{% block title %}Info Habitación{% endblock %}
{% block header %}INFORMACION DE LA HABITACION{% endblock %}
{% block lista_botones %}
<a href='{% url "listar_habitaciones" %}'><button>Ir a Lista de Habitaciones</button></a>
<a href='{% url "editar_habitacion" habitacion.id %}'><button>Actualizar Habitacion</button></a>
<a href='{% url "eliminar_habitacion" habitacion.id %}'><button>Eliminar Habitacion</button></a>
{% endblock %}
{% block content %}
<h3>Habitacion #:</h3>
<p>{{habitacion.numero_habitacion}}</p>
<h3>Tipo:</h3>
<p>{{habitacion.tipo_habitacion}}</p>
<h3>Capacidad Máxima:</h3>
<p>{{habitacion.capacidad_maxima}}</p>
<h3>Precio por noche:</h3>
<p>{{habitacion.precio_por_noche}}</p>
<h3>Disponible:</h3>
<p>
  {% if habitacion.disponible %} Disponible {% else %} No Disponible {% endif %}
</p>

{% endblock %} 